
@{
}

<table>
    <tr>
        <td>ID</td>
        <td>CompanyName</td>
        <td>ContactName</td>
        <td>ID</td>
        <td>Country</td>
    </tr>

    <tr>
        <td>@Model.Id</td>
        <td>@Model.CompanyName</td>
        <td>@Model.ContactName</td>
        <td>@Model.City </td>
        <td>@Model.Country </td>

    </tr>

</table>

