@model MVCContext.Models.ORM.Restaurant
<form action="/Restaurant/Update" method="post">
     <div>
        @Html.LabelFor(x => x.Id)
        @Html.TextBoxFor(x => x.Id)
    </div>
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
    </div>
    
    <div>
        @Html.LabelFor(x => x.Address)
        @Html.TextBoxFor(x => x.Address)
    </div>   
    
    <div>
        @Html.LabelFor(x => x.Phone)
        @Html.TextBoxFor(x => x.Phone)
    </div>    
    
    <div>
        @Html.LabelFor(x => x.City)
        @Html.TextBoxFor(x => x.City)
    </div>    
    
    <div>
        @Html.LabelFor(x => x.Region)
        @Html.TextBoxFor(x => x.Region)
    </div>

    <div>
        <input type="submit" name="Add" />
    </div>
</form>